[submodule "vendor/Behat/BehatBundle"]
	path = vendor/Behat/BehatBundle
	url = git://github.com/Behat/BehatBundle.git
[submodule "vendor/Behat/Gherkin"]
	path = vendor/Behat/Gherkin
	url = git://github.com/Behat/Gherkin.git
[submodule "vendor/Behat/Behat"]
	path = vendor/Behat/Behat
	url = git://github.com/Behat/Behat.git
[submodule "vendor/Behat/Mink"]
	path = vendor/Behat/Mink
	url = git://github.com/Behat/Mink.git
[submodule "vendor/Behat/MinkBundle"]
	path = vendor/Behat/MinkBundle
	url = git://github.com/Behat/MinkBundle.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle
	url = https://github.com/symfony/DoctrineFixturesBundle.git
[submodule "vendor/doctrine-fixtures"]
	path = vendor/doctrine-fixtures
	url = https://github.com/doctrine/data-fixtures.git